# Caddyfile for my docker swarm web frontend

(secure) {
    forward_auth http://authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email
        header_up Host {upstream_hostport}
    }
}

authelia.lorin.top {
	encode zstd gzip
	reverse_proxy system_authelia:9091
}

#
# Portainer access
#

portainer.villamilawines.com {
	encode zstd gzip
	reverse_proxy portainer_portainer:9000
}

portainer.lorin.top {
	encode zstd gzip
	reverse_proxy portainer_portainer:9000 
}

#
# Local host access
#

http://vmi789953.contaboserver.net {
	root * /usr/share/caddy/
	encode zstd gzip
	file_server browse
}

#
# villamilawines.com domain
#

# villamilawines.com, not working without prefix
www.villamilawines.com, en.villamilawines.com, fr.villamilawines.com, hr.villamilawines.com {
	encode zstd gzip
	reverse_proxy villamila_web:80 
}

#
# lorin.top domain
#

portfolio.lorin.top {
	encode zstd gzip
	reverse_proxy wheel_trader_nodebot:3001
}

michka.lorin.top {
	encode zstd gzip
	reverse_proxy michka_streamlit:8501
}

webapp.lorin.top {
	encode zstd gzip
	reverse_proxy michka_webapp:8501
}

n8n.lorin.top {
	encode zstd gzip
	reverse_proxy n8n_n8n:5678
}

wishlist.lorin.top {
	redir https://lorin.zelira.eu{uri} html
}

claw.lorin.top {
	encode zstd gzip
	reverse_proxy claw_claw:18789
}

amnezia.lorin.top {
    import secure
	encode zstd gzip
	reverse_proxy 173.212.221.67:8080
}

omniroute.lorin.top {
    import secure
	encode zstd gzip
	reverse_proxy omniroute_prod:20128
}
