# Caddyfile for my docker swarm web frontend

#
# Portainer access
#

portainer.villamilawines.com {
	encode zstd gzip
	reverse_proxy portainer_portainer:9000 
}

portainer.lorin.top {
	encode zstd gzip
	reverse_proxy portainer_portainer:9000 
}

#
# Local host access
#

http://vmi789953.contaboserver.net {
	root * /usr/share/caddy/
	encode zstd gzip
	file_server browse
}

#
# villamilawines.com domain
#

# villamilawines.com, not working without prefix
www.villamilawines.com, en.villamilawines.com, fr.villamilawines.com, hr.villamilawines.com {
	encode zstd gzip
	reverse_proxy villamila_web:80 
}

#
# lorin.top domain
#

portfolio.lorin.top {
	encode zstd gzip
	reverse_proxy wheel_trader_nodebot:3001
}

michka.lorin.top {
	encode zstd gzip
	reverse_proxy michka_streamlit:8501
}

webapp.lorin.top {
	encode zstd gzip
	reverse_proxy michka_webapp:8501
}

n8n.lorin.top {
	encode zstd gzip
	reverse_proxy n8n_n8n:5678
}

wishlist.lorin.top {
	redir https://lorin.zelira.eu{uri} html
}
